.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/.package-lock.json
node_modules/@types/**
node_modules/typescript/**
node_modules/eslint/**
node_modules/@typescript-eslint/**
node_modules/@eslint/**
.lean-ctx/**
test_*.js
prompt.md
nasmdoc.txt
*.html
x86_64_instructions.json
aarch64_instructions.json
test.asm
.claude/**
